<h2>Consulting Services</h2>

<div class="accordion">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#c1">
                IT Strategy
            </button>
        </h2>

        <div id="c1" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Expert IT strategy consulting.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#c2">
                Cloud Consulting
            </button>
        </h2>

        <div id="c2" class="accordion-collapse collapse">
            <div class="accordion-body">
                Guidance on cloud migration, deployment and infrastructure management.
            </div>
        </div>
    </div>

</div>