<h2>Training Programs</h2>

<div class="card" style="width:18rem;">
    <div class="card-body">
        <h5 class="card-title">ASP.NET Training</h5>
        <p>Learn MVC and Web Development</p>
    </div>
</div>