@model List<NorthwindCatalog.Services.DTOs.CategorySummaryDto>

<div class="container mt-5 fade-in">
    <div class="glass glow p-4">

        <h2 class="text-center mb-4">📊 Category Analytics</h2>

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Products</th>
                    <th>Avg Price</th>
                    <th>Top Product</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.ProductCount</td>
                        <td>₹@item.AvgPrice</td>
                        <td>@item.MostExpensiveProduct</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>