<div class="alert alert-dark">
    We are a leading IT solutions company.
</div>

<ul class="list-group">
    <li class="list-group-item">Web Development</li>
    <li class="list-group-item">Cloud Services</li>
    <li class="list-group-item">Enterprise Software</li>
</ul>